<td><%= this.model.get('text') %></td>
<td><input type='checkbox' <%= this.selected ? "checked" : "" %> ></td>
<td><a href='#' id='edit_bullet'>Edit</a></td>
<td><a href='#' id='delete_bullet'>Delete</a></td>
