<input type='checkbox' id='bullet_<%= this.model.id %>' name='bullet_<%= this.model.id %>'>
<label for='bullet_<%= this.model.id %>'><%= this.model.get('text') %></label>
<a href='#' id='edit_bullet'>Edit</a>
<a href='#' id='delete_bullet'>Delete</a>
