<% if (this.model) { %>
  <a href='#' class='done_editing'>Done</a>
  <div id='errors'></div>
  <div>
    <label for="resume_name">Resume name: </label>
    <input type="text" id="resume_name" value="<%= this.model.get('name') %>">
  <div id='profile'></div>
  <div id='address'></div>
  <div id='items'></div>
<% } else { %>
  <p>No Resume</p>
<% } %>
