<h4>Edit Bullet</h4>
<div>
  <label for="edit_bullet_text">Text:</label>
  <input type="text" id="edit_bullet_text" value="<%= this.model.get('text') %>">
</div>
<div>
  <ul>
    <li><a href='#' id='save_bullet'>Save Bullet</a></li>
    <li><a href='#' id='cancel'>Cancel Edit Bullet</a></li>
  </ul>
</div>
