<% if (this.model) { %>
  <div id='errors'></div>
  <div id='done'>
    <a href='#' class='done_editing'>Done</a>
  </div>
  <section id='edit_resume'>
    <label for="resume_name">Resume name: </label>
    <input type="text" id="resume_name" value="<%= this.model.get('name') %>">
  </section>
  <section id='edit_profile'></section>
  <section id='edit_address'></section>
  <section id='edit-sections'></section>
<% } else { %>
  <p>No Resume</p>
<% } %>
