<h4>Edit Paragraph</h4>
<div class="row bottom-margin">
  <label for="edit_paragraph_text">Text:</label>
  <input type="text" class="u-full-width" id="edit_paragraph_text" value="<%= this.model.get('text') %>">
</div>
<div class="row">
  <button class="button-primary" id='save_paragraph'>Save Paragraph</button>
  <button class="button" id='cancel_paragraph'>Cancel Edit Paragraph</button>
</div>
