<h3>Edit Item</h3>
<div class="row">
  <label for="new-item-name">Name:</label>
  <input type="text" class="u-full-width" id="new-item-name" value="<%= this.model.get('name') %>">
</div>
<div class="row">
  <label for="new-item-title">Title:</label>
  <input type="text" class="u-full-width" id="new-item-title" value="<%= this.model.get('title') %>">
</div>
<div class="row bottom-margin">
  <label for="new-item-heading">Heading:</label>
  <input type="text" class="u-full-width" id="new-item-heading" value="<%= this.model.get('heading') %>">
</div>
<section id="bullets"></section>
<section id="paragraphs"></section>
<div class="row">
  <button class="button-primary" id='save_item'>Save Item</button>
  <button class="button" id='cancel_item'>Cancel</button>
</div>
