<h3>Edit Section</h3>
<div>
  <label for="new_section_name">Name:</label>
  <input type="text" id="new_section_name" value="<%= this.model.get('name') %>">
</div>
<div>
  <label for="new_section_heading">Heading:</label>
  <input type="text" id="new_section_heading" value="<%= this.model.get('heading') %>">
</div>
<div>
  <label for="new_section_heading">Subheading:</label>
  <input type="text" id="new_section_subheading" value="<%= this.model.get('subheading') %>">
</div>
<section id="items"></section>
<div>
  <ul>
    <li><a href='#' id='save_section'>Save</a></li>
    <li><a href='#' id='cancel'>Cancel</a></li>
  </ul>
</div>
