<a href="#" class="new_item">New Item</a>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Use Item</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
