<ul>
  <li><a href='#' class='home'>Home</a></li>
  <li><a href='#' class='resume'>Resume</a></li>
  <li><a href='#' class='portfolio'>Portfolio</a></li>
  <li><a href='#' class='blog'>Blog</a></li>
  <% if (this.username) { %>
    <li>Signed in as <%= this.username %>!</li>
  <% } %>
</ul>
