<h3>New Section</h3>
<div class="row">
  <label for="new-section-name">Name:</label>
  <input type="text" class="u-full-width" id="new-section-name">
</div>
<div class="row">
  <label for="new-section-heading">Heading:</label>
  <input type="text" class="u-full-width" id="new-section-heading">
</div>
<div class="row bottom-margin">
  <label for="new-section-subheading">Subheading:</label>
  <input type="text" class="u-full-width" id="new-section-subheading">
</div>
<div class="row">
  <button class="button-primary" id='save_section'>Save Section</button>
  <button class="button" id='cancel_section'>Cancel</button>
</div>
