<h3>New Item</h3>
<div>
  <label for="new_item_name">Name:</label>
  <input type="text" id="new_item_name">
</div>
<div>
  <label for="new_item_title">Title:</label>
  <input type="text" id="new_item_title">
</div>
<div>
  <label for="new_item_heading">Heading:</label>
  <input type="text" id="new_item_heading">
</div>
<div>
  <label for="new_item_rank">Rank:</label>
  <input type="text" id="new_item_rank">
</div>
<div>
  <label for="new_item_visible">Visible:</label>
  <input type="checkbox" id="new_item_visible">
</div>
<div>
  <ul>
    <li><a href='#' id='save_item'>Save</a></li>
    <li><a href='#' id='cancel'>Cancel</a></li>
  </ul>
</div>
