<h3>New Profile</h3>
<div class="row">
  <div class="one-half column">
    <label for="new_profile_firstname">First Name:</label>
    <input type="text" class="u-full-width" id="new_profile_firstname">
  </div>
  <div class="one-half column">
    <label for="new_profile_middlename">Middle Name:</label>
    <input type="text" class="u-full-width" id="new_profile_middlename">
  </div>
</div>
<div class="row">
  <label for="new_profile_lastname">Last Name:</label>
  <input type="text" class="u-full-width" id="new_profile_lastname">
</div>
<div class="row">
  <div class="one-half column">
    <label for="new_profile_prefix">Prefix: </label>
    <input type="text" class="u-full-width" id="new_profile_prefix">
  </div>
  <div class="one-half column">
    <label for="new_profile_suffix">Suffix: </label>
    <input type="text" class="u-full-width" id="new_profile_suffix">
  </div>
</div>
<div class="row bottom-margin">
  <div class="one-half column">
    <label for="new_profile_nickname">Nick Name:</label>
    <input type="text" class="u-full-width" id="new_profile_nickname">
  </div>
  <div class="one-half column">
    <label for="new_profile_title">Title: </label>
    <input type="text" class="u-full-width" id="new_profile_title">
  </div>
</div>
<div class="row bottom-margin">
  <label for="new_profile_email">Email: </label>
  <input type="text" class="u-full-width" id="new_profile_email">
</div>
<div class="row">
  <button class="button-primary" id='save_profile'>Save Profile</button>
  <button class="button" id='cancel_profile'>Cancel</button>
</div>
