<h3>New Paragraph</h3>
<div>
  <label for="new_paragraph_text">Text:</label>
  <input type="text" id="new_paragraph_text">
</div>
<div>
  <ul>
    <li><a href='#' id='save_paragraph'>Save Paragraph</a></li>
    <li><a href='#' id='cancel'>Cancel New Paragraph</a></li>
  </ul>
</div>
