<h3>New Bullet</h3>
<div class="row bottom-margin">
  <label for="new_bullet_text">Text:</label>
  <input type="text" class="u-full-width" id="new_bullet_text">
</div>
<div class="row">
  <button class="button-primary" id='save_bullet'>Save Bullet</button>
  <button class="button" id='cancel_bullet'>Cancel</button>
</div>
