<form>
  <div>
    <label for="new_resume_name">Resume name: </label>
    <input type="text" id="new_resume_name">
  </div>
  <div>
    <button class='submit_new_resume'>Create Resume</button>
    <button class='cancel_new_resume'>Cancel</button>
  </div>
</form>
