<h3>New Address</h3>
<div>
  <label for="new_address_building_number">Building Number:</label>
  <input type="text" id="new_address_building_number">
</div>
<div>
  <label for="new_address_street_name">Street Name:</label>
  <input type="text" id="new_address_street_name">
</div>
<div>
  <label for="new_address_secondary_address">Secondary Address:</label>
  <input type="text" id="new_address_secondary_address">
</div>
<div>
  <label for="new_address_city">City:</label>
  <input type="text" id="new_address_city">
</div>
<div>
  <label for="new_address_state">State:</label>
  <input type="text" id="new_address_state">
</div>
<div>
  <label for="new_address_zip_code">Zip Code:</label>
  <input type="text" id="new_address_zip_code">
</div>
<div>
  <label for="new_address_county">County:</label>
  <input type="text" id="new_address_county">
</div>
<div>
  <label for="new_address_country">Country:</label>
  <input type="text" id="new_address_country">
</div>
<div>
  <label for="new_address_area_code">Area Code:</label>
  <input type="text" id="new_address_area_code">
</div>
<div>
  <label for="new_address_phone_number">Phone Number:</label>
  <input type="text" id="new_address_phone_number">
</div>
<div>
  <ul>
    <li><a href='#' id='save_address'>Save</a></li>
    <li><a href='#' id='cancel'>Cancel</a></li>
  </ul>
</div>
