<h3>New Section</h3>
<div>
  <label for="new-section-name">Name:</label>
  <input type="text" id="new-section-name">
</div>
<div>
  <label for="new-section-heading">Heading:</label>
  <input type="text" id="new-section-heading">
</div>
<div>
  <label for="new-section-subheading">Subheading:</label>
  <input type="text" id="new-section-subheading">
</div>
<div>
  <ul>
    <li><a href='#' id='save-section'>Save Section</a></li>
    <li><a href='#' id='cancel'>Cancel Section</a></li>
  </ul>
</div>
