<h3>New Item</h3>
<div class="row">
  <label for="new_item_name">Name:</label>
  <input type="text" class="u-full-width" id="new_item_name">
</div>
<div class="row">
  <label for="new_item_title">Title:</label>
  <input type="text" class="u-full-width" id="new_item_title">
</div>
<div class="row bottom-margin">
  <label for="new_item_heading">Heading:</label>
  <input type="text" class="u-full-width" id="new_item_heading">
</div>
<div class="row">
  <button class="button-primary" id='save_item'>Save Item</button>
  <button class="button" id='cancel_item'>Cancel</button>
</div>
