<h3>New Profile</h3>
<div>
  <label for="new_profile_firstname">First Name:</label>
  <input type="text" id="new_profile_firstname">
</div>
<div>
  <label for="new_profile_middlename">Middle Name:</label>
  <input type="text" id="new_profile_middlename">
</div>
<div>
  <label for="new_profile_lastname">Last Name:</label>
  <input type="text" id="new_profile_lastname">
</div>
<div>
  <label for="new_profile_nickname">Nick Name:</label>
  <input type="text" id="new_profile_nickname">
</div>
<div>
  <label for="new_profile_prefix">Prefix: </label>
  <input type="text" id="new_profile_prefix">
</div>
<div>
  <label for="new_profile_suffix">Suffix: </label>
  <input type="text" id="new_profile_suffix">
</div>
<div>
  <label for="new_profile_title">Title: </label>
  <input type="text" id="new_profile_title">
</div>
<div>
  <ul>
    <li><a href='#' id='save_profile'>Save</a></li>
    <li><a href='#' id='cancel'>Cancel</a></li>
  </ul>
</div>
