<h3>New Section</h3>
<div>
  <label for="new_section_name">Name:</label>
  <input type="text" id="new_section_name">
</div>
<div>
  <label for="new_section_heading">Heading:</label>
  <input type="text" id="new_section_heading">
</div>
<div>
  <label for="new_section_subheading">Subheading:</label>
  <input type="text" id="new_section_subheading">
</div>
<div>
  <ul>
    <li><a href='#' id='save_section'>Save</a></li>
    <li><a href='#' id='cancel'>Cancel</a></li>
  </ul>
</div>
