<h3>New Paragraph</h3>
<div class="row bottom-margin">
  <label for="new_paragraph_text">Text:</label>
  <textarea class="u-full-width" id="new_paragraph_text"></textarea>
</div>
<div class="row">
  <button class="button-primary" id='save_paragraph'>Save Paragraph</button>
  <button class="button" id='cancel_paragraph'>Cancel</button>
</div>
