<h3>Items</h3>
<button class='button' id='new_item'>New Item</button>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Use Item</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
