<h3>Sections</h3>
<button class='button new_section'>New Section</button>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Section Name</th>
      <th>Use Section</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
