<td><%= this.model.get('name') %></td>
<td><input type='checkbox' <%= this.model.get('visible') ? "checked" : "" %> ></td>
<td><a href='#' id='edit_section'>Edit</a></td>
<td><a href='#' id='delete_section'>Delete</a></td>
