<h4>Bullets</h4>
<button class='button' id='new_bullet'>New Bullet</button>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Bullet</th>
      <th>Use Bullet</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
