<h3>Sections</h3>
<a href="#" class="new_section">New Section</a>
<table>
  <thead>
    <tr>
      <th>Section Name</th>
      <th>Use Section</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
