<h3>Sign In</h3>
<form>
  <div class="row">
    <div class="six columns">
      <label for="username">Username: </label>
      <input type="text" class="u-full-width" id="username">
    </div>
    <div class="six columns bottom-margin">
      <label for="password">Passord: </label>
      <input type="password" class="u-full-width" id="password">
    </div>
  </div>
  <div class="row">
    <input type="submit" class="button-primary" value="Sign in">
  </div>
</form>
