<% if (this.user) { %>
  <a href='#' class='new_resume'>New</a>
  <a href='#' class='resumes'>All</a>
  <a href='#' class='edit_resume'>Edit</a>
<% } %>
<% if (this.model) { %>
<% } else { %>
  <p>No Resume</p>
<% } %>
