@font-face {
    font-family: 'TradeWinds';
    src: url('fonts/TradeWinds/tradewinds-regular-webfont.eot');
    src: url('fonts/TradeWinds/tradewinds-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TradeWinds/tradewinds-regular-webfont.woff2') format('woff2'),
         url('fonts/TradeWinds/tradewinds-regular-webfont.woff') format('woff'),
         url('fonts/TradeWinds/tradewinds-regular-webfont.ttf') format('truetype'),
         url('fonts/TradeWinds/tradewinds-regular-webfont.svg#trade_windsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
