body {
  font-family: 'Open Sans', sans-serif;
}

.profile {
  text-align: center;
  h1 {
    font-family: 'Trade Winds';
    margin-bottom: 10px;
  }
}

.title {
  text-align: center;
  font-family: 'Source Code Pro';
  color: grey;
}

.address {
  p {
    margin: 0;
    margin-top: -6px;
    padding: 0;
  }
}

