body {
  font-family: 'Open Sans', sans-serif;
}

.bottom-margin {
  margin-bottom: 8px;
}

.header {
  margin-bottom: 32px;
}

.profile {
  text-align: center;
  h1 {
    font-family: 'TradeWinds';
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 8px;
  }
}

.title {
  text-align: center;
  font-family: 'Source Code Pro';
  color: grey;
}

.address {
  text-align: center;
  p {
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }
}

.section_heading {
  color: #2079c7;
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
}

/* Larger than phablet */
@media (min-width: 550px) {

  .address {
    text-align: left;
  }
  .profile {
    text-align: left;
  }
  .title {
    text-align: left;
  }
}
