body {
  font-family: 'Montserrat', sans-serif;
}

#content {
  padding: 8px;
  margin: 0 auto;
}

section#profile {
  text-align: center;
  margin: 4px;
  padding: 4px;

  #name {
    margin-left: 15px;
    font-family: 'Trade Winds';
    font-size: 2.5em;
  }
  #title {
    font-family: 'Source Code Pro';
    font-size: 1.2em;
    font-style: italic;
    color: grey;
  }
}

section#address {
  text-align: center;
  margin: 12px 0 12px 0;
  font-size: 1.1em;
}

section#items {

  width: 90%;
  margin: 0 auto;

  .item {

    padding: 6px 0 6px 0;
    margin: 6px 0 6px 0;

    h2 {
      font-style: italic;
      color: grey;
      font-size: 1.1em;
      padding: 2px 0 2px 0;
      margin: 2px 0 2px 0;
    }
    h3 {
      font-style: italic;
      font-weight: bold;
      font-size: 0.9em;
      padding: 2px 0 2px 0;
      margin: 2px 0 2px 0;
    }

    ul.bullets {
      list-style-type: circle;
      list-style-position: inside;
      padding: 4px 0 4px 0;
      margin: 4px 0 4px 0;

      li {
        margin: 2px 0 2px 0;
      }
    }

    .paragraphs {

      p {
        line-height: 120%;
        padding: 4px 0 4px 0;
        margin: 4px 0 4px 0;
      }
    }
  }
}

